html {
    background-color: black; 
    color: white; 
    font-family:'Courier New', Courier, monospace; 
}

body {
    margin: 10;
    padding: 20;
    border: 2px solid white; 
    border-radius: 5%;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    min-height: 100vh; 
}

.resultContainer {
    border: 2px solid white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
    padding: 20px;
    display: flex; 
    align-items: center;
}

.buttonContainer {
    /* border: 2px solid white;  */
    display: flex;
    flex: 2 0 1;
    min-width: 400px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white; 

}

.winnerContainer {
    border: 2px solid white; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white; 
}

button {
    border: 3px solid white; 
    background-color: black;
    color: white; 
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    text-wrap: wrap; 
    border-radius: 10%;
    padding: 10px; 
    margin: 15px;
    cursor: pointer; 
}




