html {
    background-color: black; 
    color: white; 
    font-family:'Courier New', Courier, monospace; 
}

body {
    margin: 10;
    padding: 20;
    border: 1px solid white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    min-height: 100vh; 
}

.resultContainer {
    border: 2px solid white; 
    display: flex; 
    flex-direction: column; 
    margin: 15px;
    padding: 20px;
    display: flex; 
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white; 
}

button {
    border: 3px solid white; 
    background-color: black;
    color: white; 
    border-radius: 10%;
    padding: 10px; 
    margin: 15px;
}




